
@import "../../node_modules/purecss/build/pure-min.css";
@import "components/loading.scss";

$white: rgba(220,220,220,1);

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,1);
    color: $white;
    overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

h1 {
    text-align: center;
    margin: 5px 0 10px 0;
    font-size: 1.2em;
}

#container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#iframe {
    display: block;
    position: absolute;
    top: 50px;
    left: -500px;
    width: 10000px;
    height: 600px;
    border-style: solid; 
    border-width: 4;
    border-color: red;

}
