
@import "../../node_modules/purecss/build/pure-min.css";
@import "components/loading.scss";

$white: rgba(220,220,220,1);

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,1);
    color: $white;
    overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

h1 {
    text-align: center;
    margin: 5px 0 10px 0;
    font-size: 1.2em;
}

/* the outermost container in <body> */
#container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#debugger {
    position: fixed;
    display: block;
/*    border: 1px solid blue; */
    left: 0;
    right: 0;
    top: 50px;
    height: 0;
    z-index: 1000;
}


/* a <div> around the <iframe> */
#iframe-container {
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
}


#page {
    display: block;
    position: fixed;
    top: 50px;
    left: 200px;
    right: 200px;
    bottom: 50px;
    background-color: #BBBBBB;
}
